.list-box {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 350px;
  padding-left: 0px;
  margin-top: 120px;
}

.list-box li {
  display: inline-flex;
  box-sizing: border-box;
  margin: 0 10px 0 10px;
}

.box-component {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: 1px solid #C4C4C4;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

.box-component a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}

.box-component a:hover {
  background-color: #C4C4C480;
}

.box-component.explain {
  background-color: #5673EB;
}

.box-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85%;
}

.box-content span {
  font-size: 2.5rem;
  color: gray;
}

.box-content strong {
  padding: 8px 0 8px 5px;
  font-size: 7rem;
}

.explain-coponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-content.explain {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85%;
}

.explain-title {
  color: #FFF;
  font-size: 7rem;
  font-family: "WelcomeRegular";
}

.box-content.explain span {
  font-size: 2.5rem;
  color: #FFF;
  padding: 5px;
}

.navbar {
  background-color: #FFFFFF;
  height: 110px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.menu-bars {
  margin-left: 40px;
  font-size: 30px;
  background: none;
}

#main-logo {
  width: 40rem;
  margin: 0 0 7px 20px;
}

#github {
  width: 90px;
  position: absolute;
  right: 50px;
}

.nav-menu {
  background-color: #464D52;
  width: 350px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 550ms;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  display: flex;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 90%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #5673EB;
}

ul.nav-menu-items {
  width: 100%;
  padding-left: 0px;
}

.navbar-toggle {
  display: flex;
  justify-content: flex-start;
  background-color: #464D52;
  width: 100%;
  height: 80px;
  align-items: center;
}

.content-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14rem;
  margin-top: 10px;
}

div.content-feature-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 4rem 8rem 4rem 8rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

.content-feature-inner-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: medium;
}

li[print=here]::before {
  content: "/";
  margin: 0 12px 0 12px;
}

div.content-detail {
  display: flex;
  flex-direction: column;
  width: 1360px;
  height: 165rem;
  margin: 0 auto 0 auto;
  padding: 40px;
}

.content-detail h1 {
  margin: 0;
  font-size: 6rem;
}

.content-detail p {
  font-size: 3rem;
  color: darkgrey;
  margin: 0;
  padding: 8px 0 8px 0;
}

.demo-visual {
  display: flex;
  flex-direction: row;
  width: 1360px;
  height: 680px;
  margin-top: 40px;
}

.box_com.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 658px;
  border: 1px dashed black;
  padding-top: 290px;
}

.box_com.image p {
  font-size: 3.5rem;
  color: darkgray;
}

.btn-q {
  width: 146px;
  height: 46px;
  background-color: black;
  color: white;
  font-size: medium;
  margin-top: 28px;
  border-radius: 5px;
}

.box_com.code {
  width: 658px;
  border: 1px solid black;
  margin-left: 40px;
}

.code-select {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 16px 60px 17px 39px;
  border-bottom: 1px solid black;
}

.code-select li {
  display: flex;
}

.code-select li button {
  font-size: 3rem;
  border: 0;
  background-color: white;
}

html {
  font-size: 5px;
}

body {
  margin: 0px;
}

@font-face {
  font-family: "WelcomeRegular";
  src: url("../fonts/WelcomeRegular.ttf");
}
@font-face {
  font-family: "locus_sangsang";
  src: url("../fonts/locus_sangsang.ttf");
}
@font-face {
  font-family: "NEXONLv1GothicRegular";
  src: url("../fonts/NEXONLv1GothicRegular.ttf");
}
@font-face {
  font-family: "NEXONLv1GothicLight";
  src: url("../fonts/NEXONLv1GothicLight.ttf");
}
* {
  font-family: "NEXONLv1GothicRegular";
}

.main-layout {
  width: 100%;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
